body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    background: linear-gradient(to right top, #053E4D, #19547B);
    color: #0b58a7;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.qa_box {
    width: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.qa_header {
    background-color: #3198ff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 15px 15px 0 0;
    font-size: 20px;
}

.qa_set {
    display: none;
}

.qa_set.active {
    display: block;
}

.qa_set h4 {
    margin: 0 0 15px;
    font-size: 20px;
}

.qa_ans_row {
    position: relative;
    margin-bottom: 10px;
    font-size: 30px;
    width: 600px;
}

.qa_ans_row input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}

.qa_ans_row span {
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    display: block;
    padding: 8px 15px;
    background-color: #f57200;
    border-radius: 15px;
    transition: all 0.3s ease-out;
    color: white;
}

.qa_ans_row:hover span {
    background-color: #0076eb;
    border-color: #00bfff;
    color: white;
}

.qa_ans_row input:checked+span {
    background-color: #0b58a7;
    color: white;
}

.qa_ans_row input[valid]:checked+span {
    background-color: green;
    color: white;
}

.qa_footer {
    padding: 10px 0 0;
    text-align: right;
}

.btn1 {
    display: inline-block;
    padding: 8px 20px;
    background-color: #0b58a7;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.btn1:hover {
    background-color: #064484;
}
.result-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 400px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.result-message {
    font-size: 28px;
    margin-bottom: 20px;
    color: #ff7f50;
}

.result-score {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn1 {
    display: inline-block;
    padding: 10px 30px;
    background-color: #ff7f50;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.btn1:hover {
    background-color: #ff6347;
}